html {
  font-family: Georgia, serif;
  color: #2f2d13;
  box-sizing: border-box;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.current {
  background-color: #b20953;
}

body {
  line-height: 1.5;
  margin: 0;
  padding-top: 0;
}

img {
  width: 100%;
  display: block;
  padding-left: .75em;
  padding-right: .75em;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #ffe500;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: .75em;
}

h1, h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 1.875rem;
}

li {
  /* background-color: #b2a212; */
  /* color: #fff; */
  /* border-color: #2f2d13; */
  display: inline-block;
  font-size: 1.125rem;
}

a:hover {
  background-color: #cc1465;
  color: #fff;
  border-color: #cc1465;
}

a {
  text-decoration: none;
  background-color: #b2a212;
  color: #fff;
  border-color: #b2a212;
  padding: .4em;
  border-radius: 4px;
}

ul {
  margin: 0;
  padding: 0;
}

em {
  font-weight: bold;
}

nav {
  padding: .5em;
  padding-top: .4em;
}

h2, p {
  padding-left: .75em;
}
