html {
 font-family: "Georgia", serif;
 color: #2f2d13;
}

.current {
  background-color: #b20953;
}

.nav li {
  display: inline-block;
}

img {
 width: 100%;
}

header {
  background-color: `#ffe500;
}

footer {
    background-color: `#ffe500;
    font-size: .75rem;
}

h1, h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;

}

h1 {
 font-size: 3rem;
}

h2 {
  font-size: 1.875rem;
}

nav ul li {
  color:
  border-radius: 4px;
}
